.app-wrapper {
    margin: 20px 30px;
    min-width: 700px;
    max-width: 1000px;
    display: grid;
    grid-template-areas:
            "h h"
            "n p";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 3px;
}

.app-wrapper-content {
    grid-area: p;
    min-height: 350px;
    background-color: yellow;

}

