.dialogs {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    font-size: 24px;
}

.dialogsItems {
    padding: 10px;
}

.dialog {
}

.dialog a {
    text-decoration: none;
}

.dialog a.active {
    color: lawngreen;
}

.messagesItems {
    padding: 10px;
}

.message {

}
.names {
display: flex;
}
.names img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}